.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignRight{
  font-size: 0.6rem;
  line-height: 1.5rem;
}
.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignRight{
  font-size: 0.6rem;
  line-height: 1.5rem;
}
.MuiTypography-root.MuiTypography-body1{
  font-size: 0.6rem;
  line-height: 1.5rem;

}